@font-face {
    font-family: Anitta;
    src: url(../../../public/static/Anita\ semi\ square.ttf);
  }
  @font-face {
    font-family: Poppins-SemiBold;
    src: url(../../../public/static/Poppins-SemiBold.ttf);
  }
  @font-face {
    font-family:poppins-extra ;
    src: url(../../../public/static/Poppins-ExtraLight.ttf);
  }

    #ABOUT{
      color:#20264C ;    
      font-size: 67px;
      font-family: Poppins-SemiBold;
      position: absolute;
      top: 1020px;
      right: 790px;
}

    #RAYEH{
        color:#6BB9C6 ;
        font-size: 67px;
        font-family: Poppins-SemiBold;
        position: absolute;
        top: 1020px;
        right: 540px;
    }
    #WHAT{
        color:#6BB9C6 ;
        font-size: 35px;
        font-family: Poppins-extra;
        position: absolute;
        top: 1150px;
        right: 1225px;

    }

    #ambitious{
        color: #20264C;
        font-size:30px;
        font-family: Poppins-extra;
        position: absolute;
        top:1220px;
        right:900px;
        
    }

    #mission{
      color:#6BB9C6 ;
      font-size: 50px;
      font-family: Poppins-extra;
      position: absolute;
      top: 1350px;
      left: 660px;


    }
      
    #ambitious {
      opacity: 0;
      animation: showAmbitious 10s forwards;
    }
    
    @keyframes showAmbitious {
      0% {
        opacity: 0;
      }
      50% {
        opacity: 0.5;
      }
      100% {
        opacity: 1;
      }
    }
    #Drive{
      
        color: #20264C;
        font-size:25px;
        font-family: Poppins-extra;
        position: absolute;
        top:1457px;
        right:610px;
        
     }
     #Way{
      
      color: #20264C;
      font-size:25px;
      font-family: Poppins-extra;
      position: absolute;
      top:1527px;
      right:600px;
      
   }

   #Creativity{
      
    color: #20264C;
    font-size:25px;
    font-family: Poppins-extra;
    position: absolute;
    top:1600px;
    right:680px;
    
 }

 #Box{ 
  color: #20264C;
  font-size:25px;
  font-family: Poppins-extra;
  position: absolute;
  top:1672px;
  right:540px;
  
}


#Vission{
  color:#6BB9C6 ;
  font-size: 50px;
  font-family: Poppins-extra;
  position: absolute;
  top: 1550px;
  left: 1050px;
}
#Multi{
  color:#20264C ;
  font-size: 30px;
  font-family: Poppins-extra;
  position: absolute;
  top: 1655px;
  left: 1100px;
}
#Ext{
  color:#20264C ;
  font-size: 30px;
  font-family: Poppins-extra;
  position: absolute;
  top: 1755px;
  left: 1100px;
}
#Services{

  height: 100%;
  width: 100%;
  padding: 0px;
  margin: 0px;
}
#Our{
  color:#20264C ;    
  font-size: 67px;
  font-family: Poppins-SemiBold;
  position: absolute;
  top: 1950px;
  right: 870px;

}
#Ser{
  color:#6BB9C6 ;
  font-size: 67px;
  font-family: Poppins-SemiBold;
  position: absolute;
  top: 1950px;
  right: 540px;
}
#Ser{
  opacity: 0;
  transform: translateX(-100%);
  animation: slide-in 6s forwards;
}

@keyframes slide-in {
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

#marketing{
  color:#6BB9C6 ;
  font-size: 40px;
  font-family: Poppins-extra;
  position: absolute;
  top: 2300px;
  left: 160px;
}
#marketing::backdrop{
  content: "This is a sentence that appears when you hover over the text";
  display: none;
  position: absolute;
  background-color: #fff;
  padding: 10px;
  border: 1px solid #000;
}

#marketing:hover::backdrop {
  display: grid;
}







