.Services{
    position: relative;
    display: flex;
width: 100%;
height: 60rem;
background: black;
}
.Containers{
    position: relative;
    top: 30px;
    left: 15px;
    border-radius: 10px;
    width: 83%;
    height: 18rem;
    background: white;
border-top-left-radius: 900px;
border-bottom-left-radius: 100px;
}
.Containers span{
position: absolute;
background:#c7b492;
-webkit-margin-start: 45%;
width: 10%;
height: 2rem;
color: black;
font-weight: 700;
border-bottom-left-radius: 10px;
border-bottom-right-radius:10px ;
    text-align: center;

}
.Containers label {
position: absolute;
    background: #c7b492;
  border-radius:1px ;
    width: 15%;
        height: 2rem;
    -webkit-margin-start: 85%;
       font-size: 18px;
    text-align: center;
        font-weight: 600;
        top: 16rem;
        border-top-left-radius: 15px;
        
}
.Containers p{
    position: relative;
    color: blue;
    left: 15rem;
}