
.Services {
    position: relative;
    display: flex;
    width: 100%;
    height: 100%;
    min-height: 50rem;
    background: beige;
}

.Containers {
    position: relative;
    top: 30px;
    left: 15px;
    border-radius: 10px;
    width: 83%;
    height: auto;
    background: wheat;
    justify-content: center;
    padding: 20px;
}

.Containers span {
    position: absolute;
    background: white;
    width: 15%;
    top: 0.5rem;
    height: 2rem;
    color: black;
    font-weight: 700;
    justify-content: center;
    justify-self: center;
    align-self: center;
    -webkit-margin-start: 41%;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    text-align: center;
}

.InfoTable {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
    background: beige;
    direction: rtl;
}

.InfoTable th,
.InfoTable td {
    border: 3px solid #393535;
    padding: 10px;
    text-align: left;
    color: black;
    direction: rtl;
}

.InfoTable th {
    background-color: wheat;
    direction: rtl;
    justify-self: center;
        text-align: center;
}

.InfoTable tbody tr:hover {
    background-color: transparent;
}
.Add-B {
    background: black;
    width: 100%;
    height: 100%;
    color: white;
    padding: 10px;
}

.ModalShape1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #c7b492;
    padding: 20px;
    border: 1px solid #ccc;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    max-width: 1200px;
    width: 100%;
    min-height: 40rem;
    max-height:55rem;
    z-index: 1000;
    direction: rtl;
}

.ModalShape1 Form {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 15px;
    width: 80%;
   
    max-width: 800px;
    
}
.ModalShape1 h2 {
    position: absolute;
    color: white;
    top: 1rem;
    border: 8px solid black;
    background-color: black;
    border-radius: 10px;
    font-size: 24px;
    left: 32rem;
}
.ModalShape1 h2.Add{
    position: absolute;
    color: white;
   top:1rem;
   border: 8px solid black;
   background-color: black;
   border-radius: 10px;
   font-size: 24px;
   left:28rem;
}
.ModalShape1 label,
.ModalShape1 input {
    width: 100%;
    box-sizing: border-box;
    padding: 8px;
    margin-bottom: 10px;
    margin-top: 2px;
   
}

.ModalShape1 button { 
    background-color: #c7b492;
    color: #fff;
    border: none;
    padding: 10px 15px;
    cursor: pointer;
}
.ModalShape1 .TwoButtons{
    position: relative;
    top: 2rem;
  right: 27rem;
}
.ModalShape1 button.cancel {
    position: relative;
    background-color: #000000;

padding: 15px 10px;
width:10rem;

}

.ModalShape1 button.create {
    position: relative;
  color:black;
    background-color: white;
padding: 15px 10px;
left: 24rem;
    width: 10rem;
}


.ModalShape1 button.Addcancel {
    position: relative;
    background-color: #000000;

    padding: 15px 10px;
    width: 10rem;

}
.ModalShape1 .TwoButtonsAdd {
    position: relative;
    top: 5rem;
    right: 1rem;
}
.ModalShape1 button.Addcreate {
    position: relative;
    color: black;
    background-color: white;
    padding: 15px 10px;
    left: 24rem;
    width: 10rem;
}
.EditB {
    background-color: #000000;
    color: white;
    padding: 4px;
    font-weight: 700;
    width:4rem;
    margin-right: -25px;
}

.DeleteB {
    background-color: #000000;
    color: white;
    margin-right: 1rem;
    padding: 4px;
    font-weight: 700;
}

.ModalD1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 25%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #c7b492;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    max-width: 240px;
    width: 100%;
    min-height: 4rem;
    max-height: 5rem;
    z-index: 1000;
}

.ModalD1 .Delete {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 8px;
    width: 80%;

    max-width: 800px;
    max-height: 40rem;
}

.ModalD1 .Delete .Button1 {
    background: white;
    color: #000000;
}

.ModalD1 .Delete .Button1 {
    background: black;
    color: white;
}
.R{
    position: relative;
    display: flex;
}
.L{
    position: relative;
    display: flex;
        
      
        cursor: pointer;
        
        flex-direction: row;
       flex-wrap: nowrap;
        color: black;
    left:3rem;
    top: 0.5rem;
}
.I{
    display: flex;
    position: relative;
    flex-direction: row;
        color: black;
    max-width: 1.5rem;
    left:5rem;
    
        
}
.S{
    position: relative;
    width: 4.5rem;
    height:2rem;
}