.Navbar {
    padding: 0.5%;
    
    color: black;

}

    .logo-container {
            display: inline-flex;
            position: absolute;
            align-items: center;
          
        }
                .logo-container #logo{
                border-radius: 50%;
                    max-width: 5rem;
                    max-height: 5rem;
                   
                }
                                .logo-container #company-name {
                                 color: black;
                                 font-weight: bold;
                                }

.Navbar #nav{
    color: black;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-decoration-style: none;
    text-decoration: none;
    
}
.Navbar a.active{
border-bottom: 3px solid beige;
}
.Navbar #nav.active {
    border-bottom: 3px solid black;
}
.Navbar #nav:hover {
    border-bottom: 3px solid black;
}
.Navbar ul {
    -webkit-margin-start: 50%;
    list-style-type: none;
}

.Navbar li {
    display: inline-block;
    position: relative;
    margin-right: 5%;
color: white;
    text-decoration-style: none;
}