.Navbar {
max-width: 100%;
    padding: 0.5%;
    
    color: white;
     background-color:#c7b492 ; 


    /* #ddcdaf */
}

    .logo-container {
            display:flex;
            position: relative;
       
          max-width: 100%;
        }
                .logo-container #logo{
                    display: flex;
                    position: absolute;
                    left: 5rem;
          
                    max-width: 4rem;
                    max-height: 4rem;
                   
                }
                                .logo-container #charity-name {
                                        display: flex;
                                            position: absolute;
                                            left: 10rem;
                                          top: 1rem;
                                 color: black;
                            font-family: Bangers;
                                font-size: 32px;
                                font-style: normal;
                                font-variant: normal;
                                font-weight: 700;
                                line-height: 26.4px;
                                }

.Navbar #nav{
    color: white;

        font-family: Bangers;
            font-size: 24px;
            font-style: normal;
            font-variant: normal;
            font-weight: 700;
            line-height: 26.4px;
   
 text-decoration-style: none;
    text-decoration: none;
    
}
.Navbar a.active{
border-bottom: 3px solid beige;
}
.Navbar #nav.active {
    border-bottom: 3px solid black;
}
.Navbar #nav:hover {
    border-bottom: 3px solid black;
}
.Navbar ul {
    -webkit-margin-start: 1%;
    list-style-type: none;
    direction: rtl;
}

.Navbar li {
    display: inline-block;
    position: relative;

    margin-right: 5%;
color: white;
    text-decoration-style: none;
}