.card {
  background-color: #eddfd3;
  border-radius: 20px;
  border-top-right-radius: 80px 80px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  padding: 1rem;
  position: relative;

  top: 2rem;

  width: 250px; 
  height: 300px;
  margin: 25px;
  font-family: 'Arial', sans-serif;
}

.card-header {
  display: flex;
  align-items: center;
  margin-bottom: 1rem;
}

.avatar {
  width: 40px; 
  height: 40px; 
  border-radius: 50%;
  margin-right: 10px;
}

.name-and-check {
  display: flex;
 position: absolute;
 left:4rem;
 top: 1.5rem;
flex-direction: column;
  align-items: start;
}

.name {
bottom:4rem;
  font-weight: bold;
  margin-bottom: 0;
 
}

.status-check {
  position: relative;
  color: green;
  font-size: 1.5em;
  top: 7rem;
  left: 0rem;
  display: inline-block;
  animation: fadeInScaleUp 1s ease-in-out;
}

@keyframes fadeInScaleUp {
  0% {
    opacity: 0;
    transform: scale(0);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}

.location {
  position: absolute;
  color: rgb(0, 0, 0);
  left:9rem;
  top:4.5rem;
  font-size: 1.2em;
}

.card-stats {
  display: flex;
  justify-content: space-between;
  margin-bottom: 1rem;
  color:'black';
  margin-top:3rem;
}

.stat {
  text-align: center;
  color: black;
}

.stat-value {
  display: block;
  font-weight: bold;
  font-size: 1.1em;
}

.stat-label {
  font-size: 0.8em;
  color: #c7b492;
}

.About-button {

  font-weight: bolder;
  position: relative;
  top: 4rem;
  left: -1rem;
  border: none;
  padding: 10px;
  width: 100%;
  border-top-right-radius: 16px;
  border-bottom-right-radius: 80px 80px;
  cursor: pointer;  
  text-transform: uppercase;
}

.About-button:hover {
  background-color: #333;
}
